<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yip!</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

    <script src="bower_components/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="bower_components/angularjs/angular-route.min.js"
            type="text/javascript"></script>

    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/service.js" type="text/javascript"></script>

    <link rel="shortcut icon" href="">
</head>
<body ng-app="pupApp">

<header>
    <a href="index.html"><h1 class="logo-name">Yip!</h1></a>

    <div class="logo-wrapper">
        <div class="logo">

            <a href="index.html"><img src="http://puppies.scriptevolution.com/img/barking_dog.png"></a>
        </div>
    </div>
    <h5 class="description">... the dog breed mixer-upper</h5>
</header>
<div class="page-container">
<div class="home-wrapper">
    <div ng-controller="searchQ" class="search">
            <section>
                <form>
                    <span><label for="searchQ">Add Dog Breed:</label></span>
                    <div class="input-wrapper">
                        <input ng-model="searchInput" placeholder="" id="searchQ" name="q1" type="text"/>
                        <div ng-controller="autoController" class="autoCompleteWrapper">
                            <div ng-switch on="(searchInput.length >= 1)">
                                <div ng-switch-default>
                                    <!--no names-->
                                </div>
                                <div ng-switch-when="true" id="searchResults">
                                    <div class="results" ng-repeat="dogName in dogNameArray | filter:searchInput"
                                         ng-click="newDog(dogName)">
                                        <span class="dopNamesResults">{{dogName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </section>
            <div ng-controller="tagController">
                <div class="tagWrapper">
                    <span class="tag" ng-repeat="tag in tagArray | orderBy:'name'" ng-click="deleteTag($index)">
                        {{tag.name}}<span class="cancel">x</span>
                    </span>
                </div>
            </div>
        </div>
</div>

<!-- clean up inline styling (styling in general of what I added lol) -->
<div class="outer-page" style="margin-top: 200px">
    <div ng-view>
    </div>

    <div id="outputresults">
        <img id="spinner" src="http://puppies.scriptevolution.com/img/spinner.gif">
    </div>

    <form id="imageForm" enctype="multipart/form-data" method="POST">
        <h3 class="contrib">Here, you can upload a picture of your dog - make sure you know exactly what kind of breed your dog is! <br>
            Thanks for contributing to Yip!</h3>
        <input id = "puppyImage" name="img" size="35" type="file" />
        <input id="uploadButton" type="submit" name="submit" value="Upload" class="submit"/>
    </form>
</div>
</div>


</body>
</html>